body{
	background-image: url(https://schwannzbea.files.wordpress.com/2010/08/blog-background1.jpeg);
    background-attachment: fixed;
	height: auto;
	background-size: cover;
}
.overlay{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height:auto;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
