<!doctype html>
<html>

<head>
	{% block head %}
	<title>{% block title %}Markdownblog{% endblock %}</title>
	{% endblock %}

	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

</head>

<body>
	<div class="wrapper">
		<div class="top-navbar">
			<div id="crouton">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Posts</a></li>
					<li><a href="#">Comment</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="band"></div>

	<div class="content">
		<h1>yvonne's blog</h1>

		<hr>
		<!-- //still figuring out how to implement this without it recurring in the other templetes
		<h2>About Me</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, quo dolorum dolores nulla similique earum sequi eaque, delectus rem, ratione autem dolor? Voluptas error ipsam alias, adipisci repudiandae veniam expedita.</p>

<p>Here are a few of my blog posts... stick around</p>
-->
		<div class="info">
			<div id="content">{% block content %}{% endblock %}</div>
		</div>
		<div class="share-widget">
			Share :
			<span class="fa fa-facebook"></span>
			<span class="fa fa-twitter"></span>
			<span class="fa fa-youtube-play"></span>
			<span class="fa fa-tumblr"></span>
		</div>
	</div>

	<div class="footer">
		<a href="http://github.com/designviacode" target="_blank">
			<span class="dialogue">Made with ❤ !</span>
		</a>
		{% block footer %} &copy;
		<script type="text/javascript">
			document.write(new Date().getFullYear());
		</script>
		<a href="http://domain.invalid/">Yvonne Nduta</a>. {% endblock %}
	</div>
	</div>


</body>

</html>
