<!doctype html>
<html>

<head>
	<title>{% block title %}Markdownblog{% endblock %}</title>


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
	<link rel="stylesheet" href="/static/css/app.css">

</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '290085241331302',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	 <div class="wrap">
    <div class="nav">
    <ul>
    	<li>
    		<a href=" {{ url_for ('posts')}}">home</a>
    	</li>
    	<li>
    		<a href=" {{ url_for ('posts')}}">create post</a>
    	</li>
    </ul>
		 </div>


 <div class ="row small-10 columns">
 <div class=" hello small-4 columns">
 </div>


		<div class="posts">
        <div class="post">
            <div class="section">{% block content %}{% endblock %}  <div class="upload small-4 columns">
		<a href="{{ url_for('uploadd')}}" class="button"> Create Post</a>
	 </div> </div>

		</div>
	 </div>


		<div class="footer">
			<a href="http://github.com/designviacode" target="_blank">
				<span class="dialogue">Made with ❤ !</span>
			</a>
			{% block footer %} &copy;
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script>
			<a href="http://domain.invalid/">Yvonne Nduta</a>. {% endblock %}
		</div>

	</div>
		 </div>

<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAeXQYzTLb3W5ztQezyjPkqJ7NrGpZyctE",
    authDomain: "chat-4fb1e.firebaseapp.com",
    databaseURL: "https://chat-4fb1e.firebaseio.com",
    storageBucket: "",
  };
  firebase.initializeApp(config);
</script>

</body>

</html>
